.escondido {
    position : relative;
    top : -50px;
    padding : 10px 15px;
    color : #111;
    text-align : center;
    
    visibility : hidden;
    opacity : 0;
    transition : 0.3s ease-in-out;
}

 .card:hover {
    height : 320px;    
  }

 .card:hover .escondido {
    margin-top : 30px;
    visibility : visible;
    opacity : 1;
    transition-delay: 0.2s;
    font-family: 'Open Sans', sans-serif;
   
 }